*{
    box-sizing: border-box;
}

@font-face {
    font-family: pactittle;
    src: url(../fonts/tittle.TTF);
}

@font-face {
    font-family: pacm;
    src: url(../fonts/Joystix.TTF);
}

body{
    padding: 0;
    border: 0;
    background-color: black;
    color: yellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pactittle{
    font-family: pactittle;
    font-size: 5rem;
}

.pacfont{
    font-family: pacm;
    font-size: 1rem;
    color: white;
}

.pacfontli{
    font-family: pacm;
    font-size: 1.5rem;
    color: white;
}

.h1lol{
    background-color: yellow;
    color: black;
}

.fondo{
    width: 132vh;
    height: 85vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.life{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pacman{
    width: 100px;
    height: 100px;
    position: relative;
    animation: pac 10s infinite;
}


 
.fantasmon{
    width: 100px;
    height: 100px;
    position: relative;
    animation: fan 1s infinite;
}

@keyframes fan {
    0% {top: 45px; right: 35px;}
    100% {top: 45px; right: 35px;}
    
}


.ham{
    width: 100px;
    height: 100px;
    position: relative;
    animation: ham 1s infinite;
}

@keyframes ham {
    0% {top: 30px; left: 377px;}
    100% {top: 30px; left: 377px;}
    
}


